<p><br><br></p>

<main class="container">
    <div class="row">
      <!--   <div class="col-lg-12">
            <h3>Asignaciones</h3>
            <p>{{data|json}}</p>
        </div>
        <div class="col-lg-12">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header bg-danger text-white" id="headingOne">
                        <h5 class="collapse-head" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            <span class="">
                                <strong><i class="fa fa-sliders" aria-hidden="true"></i></strong>
                                Filtrar
                            </span>
                        </h5>

                    </div>

                    <div id="collapseOne" class="collapse " aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <form action="" class="row">
                                <div class="col-lg-4  form-group">
                                    <label for="">Marca</label>
                                    <ng-select name="card" [(ngModel)]="selectedCar">
                                        <ng-option class="form-control-sm" *ngFor="let car of cars"
                                            [value]="car.id">{{car.name}}</ng-option>
                                    </ng-select>
                                </div>

                                <div class="col-lg-4  form-group">
                                    <label for="">Producto</label>
                                    <ng-select name="card" [(ngModel)]="selectedCar">
                                        <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-lg-4  form-group">
                                    <label for="">Habilidad</label>
                                    <ng-select name="card" [(ngModel)]="selectedCar">
                                        <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-lg-4  form-group">
                                    <label for="">Area</label>
                                    <ng-select name="card" [(ngModel)]="selectedCar">
                                        <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                                    </ng-select>
                                </div>

                                <div class="col-lg-4  form-group">
                                    <label for="">País</label>
                                    <ng-select name="card" [(ngModel)]="selectedCar">
                                        <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-12">
                                    <p class="text-right">
                                        <button class="btn btn-sm btn-secondary">
                                            Limpiar
                                            <i class="fa fa-trash " aria-hidden="true"></i>
                                        </button>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->

        <div class="col-lg-12">
            <table datatable  [dtOptions]="dtOptions"  class="row-border hover">
             
            </table>

        </div>

    </div>
</main>